*{
    margin: 0;
    padding: 0;
}
.content{
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 2fr;
    grid-template-rows: 100px 1fr;
    background-color: rgb(210, 207, 207);
}

/*Sidepanel CSS*/
nav{
    background-color: rgb(135, 135, 135);
   grid-row: 2/3;
   grid-column: 1/2;
   color: rgb(0, 0, 0);
   border-right: 2px solid rgb(141, 141, 141);
}
#sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px auto;
    width: 180px;
    padding-left: 20px;
   font-size: 1.5rem;
 
}

nav li{
   
    margin: 10px 10px 10px;
    list-style: none;
}
.nav-item:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}
.project{
    display: flex;
    justify-content: space-between;
}
.project:hover{
    text-transform: uppercase;
    cursor: pointer;
}
.project:hover > .projectEdit{
    display: flex;
    align-items: center;
}
.project:hover > .taskNumbers{
    display: none;
}
.taskNumbers{
    font-size: 18px;
    display: flex;
    align-items: flex-end;
}
.projectEdit{
    display: none;
 
}
.settingsBtn{
    border: none;
    background-color: transparent;
   
}
.editTxt{
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/*New Project Form*/

.newProjectForm{
    display: flex;
    align-items: flex-end;
}
.newProjectForm input{
   height: 24px;
}
.projectFrmBtns button{
height: 28px;
}

/* End of New Project Form*/
/*Project Settings*/
.projectSettings{
    display: grid;
    position: absolute;
    z-index: 2;
    margin-top: 31px;
    margin-left: 16px;
    /*make it on right side inside the container*/
    width: 136px;
    height: 67px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);

  
}
.projectSettings button{
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
}
.projectSettings button:hover{
    background-color: rgb(229, 229, 229);
}
/*Project Settings END*/
/*END of Sidepanel CSS*/

/*topbar css*/
header{
    background-color: rgb(47, 47, 47);
   grid-column: 1/3;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: rgb(226, 224, 224);
}
header div{
    margin: 0 20px;
}
header div button{
    margin: auto 20px;
}

.topbar-user{
    display: flex;
    align-items:flex-end;
}
/*end of TOPBAR css*/



/*main content css*/
/* #section-title{
    text-transform: capitalize;
} */
.taskAddBtn{
    font-size: 1.95rem;
    color: black;
    padding: 0px 20px;
    border-radius: 5px;
    cursor: pointer;

}
#mainSection{
    display: flex;
    justify-content: center;
    
}
#content-container{
    width: 500px;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #eaeaea;
}
.task:hover > .taskR > .taskSettings{
    display: flex;
}

/*end of form style*/
.taskR{
    display: flex;
}
.taskSettings{
    display: none;
    margin-left: 10px;
}
.taskComplete{
    background-color: rgb(210, 207, 207);
}

/*task edit css*/
.taskEdit{
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    z-index: 2;
    top: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
}
#taskEditForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
/*task edit css*/
/*end of main content css*/
/*form style*/
.formDiv{
   display: none;
   align-items: center;
   justify-content: center;
   position:fixed;
   z-index: 2;
   top: 0;
   height: 100vh;
   width: 100vw;
   backdrop-filter: blur(5px);
}
#task-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.taskContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.taskContent textarea{
    resize: none;
    border: none;
}
.taskContent .taskName{
    font-size: 1.5rem;
    font-weight: 900;
}
.taskContent .taskDescription{
    height: 5rem;
    margin-bottom: 2rem;
}
.taskContent input{
    width: fit-content;
}
.taskContent select{
    width: 70px;
}
#task-form div button{
    margin: 0 10px;
    font-size: 2rem;
    border: 2px solid red;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.formBtnAdd{
  

   

  
    content: "O";
    
}
.formBtnCancel{

    content: "X";
}

